.top-container {
    width: 100%;
    height: 600px;
    background-image: url(donate-today-main/images/donation5.jpg);
    background-repeat: no-repeat;
    
    
}

.head-img-text {
    color:AntiqueWhite;
    text-align: center;
   padding-top: 200px;
   font-weight: 700;
   font-family: 'Arvo', serif;
}
.size{
    
    font-size: 350% ;

}
.button {
    background-color:tomato;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 13px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  #sec2{
    color:black;
    text-align: center;
   padding-top: 200px;
   font-weight: 700;
   font-family: 'Arvo', serif;
    text-align: center;
  }

  .mid-branc {
    display: flex ;
    justify-content: space-evenly;
  }
  hr {
    width: 800px;
  }
 
  .m1 {

text-align: center;

  }


  .help {
    display: flex;
    margin-bottom: 200px;  
}

.dont{
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 20px;
  border-radius: 3px;
  box-shadow: 10px 10px 50px whitesmoke;
  
}
#color {
  color: dimgray;
}
.iamg {
  background-color: bisque;
  
  
}
.img1 {
  background-color: rgb(232, 232, 148);
}
.img {
  background-color: steelblue;
}

.more{
  
  display:flex;
  

  
}
.more-img{
  width:50% ;
  height: 500px;
  border-radius: 7px;
}
.text{
  padding-top: 90px;
  padding-left: 60px;
}
.box{
display: flex;
justify-content: center;

}
.from-box{
  padding: 30px 10px 30px 30px;
  background-color: rgb(255, 246, 228) ;
}
.from-box input {
  font-size: 18px;
  color:black;
  padding: 13px 11px;
  border: none;
  border-radius: 3x;
}

.from-box button {
  
  color:white;
  background-color: rgb(220, 140, 140);
  padding: 16px 13px;
  padding-bottom:15px ;
  margin-left: 0;
  border: none;
  border-radius:3px ;

}
.foter{
  text-align: center;
  color: white;
  background-color: black;
  padding: 60px ; 
 margin-top: 60px ;
}
#last{
  font-family: 'Poppins', sans-serif;
}
h6{
  color: gray;
}